@font-face {
	font-family: "Afixorma-Black";
	src: url("../fonts/word-fonts/afixorma/ArticoSoft-Black.otf");
}

@font-face {
	font-family: "Afixorma-Regular";
	src: url("../fonts/word-fonts/afixorma/ArticoSoft-Regular.otf");
}

@font-face {
	font-family: "Afixorma-Bold";
	src: url("../fonts/word-fonts/afixorma/ArticoSoft-Bold.otf");
}

