body.dark {
  .ftco-navbar-light.scrolled {
    background: #000 !important;
  }
}

.ftco_navbar {
  @media #{$mobile} {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.navbar-brand {
  position: relative;
  display: block;

  img {
    width: 150px;
    transition: opacity $trans-delay $bezier;

    @media #{$mobile} {
      width: 130px;
    }

    &.logo-black {
      opacity: 1;
      position: absolute;
      left: 0;
    }

    &.logo-white {
      opacity: 0;
    }
  }
}

body {
  &.dark {
    .navbar-brand {
      img {
        &.logo-white {
          opacity: 1;
        }

        &.logo-black {
          opacity: 0;
        }
      }
    }
  }
}

.ftco-navbar-light.scrolled .nav-link,
.ftco-navbar-light .navbar-nav > .nav-item > .nav-link,
.ftco-navbar-light.scrolled .nav-item.active > a {
  color: #000 !important;
}

body {
  &.dark {
    .ftco-navbar-light.scrolled .nav-link,
    .ftco-navbar-light .navbar-nav > .nav-item > .nav-link,
    .ftco-navbar-light.scrolled .nav-item.active > a {
      color: #fff !important;
    }
  }
}

.ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
  padding-left: 0px;
  padding-right: 40px;
  display: block;
  font-weight: 500;
  padding-bottom: 8px !important;
}

.ftco-navbar-light .nav-item.active > a {
  position: relative;

  &:after {
    content: "";
    width: 25px;
    height: 3px;
    background-color: blue;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

@media (max-width: 991.98px) {
  .ftco-navbar-light {
    background: #ffffff !important;
    position: relative;
    top: 0;
  }
}

body {
  &.dark {
    @media (max-width: 991.98px) {
      .ftco-navbar-light {
        background: #000000 !important;
      }
    }
  }
}

// .ftco-navbar-light .navbar-toggler {

//     cursor: pointer;
//     padding-right: 0;
//     text-transform: uppercase;
//     font-size: 16px;
//     letter-spacing: 0.1em;
// }

.ftco-navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.5) !important;
  border-color: rgba(0, 0, 0, 0.5) !important;
  transition: color $trans-delay $bezier;
}

body {
  &.dark {
    .ftco-navbar-light .navbar-toggler {
      color: #fff !important;
      border-color: #fff !important;
    }
  }
}
